--- 
title: Database
---

%h3 Database

.note
  %b IMPORTANT:
  %br
  Database pull and push is in beta and at this time we only support
  MySQL databases.

%p
  You can pull data from your Webby into your local database or push data
  from your local database to your Webby.

%p
  For more information, check the command specific areas:

%ul
  %li= link_to "pushing", "/db_pushing/"
  %li= link_to "pulling", "/db_pulling/"

%p
  &nbsp;

%h3 Screencast

%p
  Here's a screencast that illustrates the database pull and push process:

%p
  <iframe width="640" height="360" src="http://www.youtube.com/embed/_6aKLUuKCmM" frameborder="0" allowfullscreen></iframe>