--- 
title: Changing the domain
---

%h2 Changing the domain

%p
  To change the DNS entry your application responds to, you need to use the <b>change_dns</b> command.

%p
  <iframe width="640" height="360" src="http://www.youtube.com/embed/bYBDr5Q-bLc" frameborder="0" allowfullscreen></iframe>

%p
  Here's an example of how it's used:

%p
  %code
    %pre
      :preserve
        $ wn change_dns rubyista.info
        [Webbynode] Changing DNS to rubyista.info...
        Creating DNS entries for www.rubyista.info and rubyista.info...
        Your application will start responding to rubyista.info after next deployment.

  .hint
    %b HINT:
    If you use a top-level domain name (ie, mydomain.com) the gem will automatically
    add the domain to Webby Manager's DNS Server, and you don't need to do any manual
    changes.

  Here's another example, now with a subdomain:

  %code
    %pre
      :preserve
        $ wn change_dns subdomain.rubyista.info
        [Webbynode] Changing DNS to subdomain.rubyista.info...
        Creating DNS entry for subdomain.rubyista.info...
        Your application will start responding to 
        subdomain.rubyista.info after next deployment.

  After you run this command, the application will start responding to the new DNS entry
  after your next push.

