--- 
title: Changing the domain
---

%h2 Changing the domain

To change the DNS entry your application responds to, you need to use the <b>change_dns</b> command.

Here's an example of how it's used:

%code
  %pre
    :preserve
      $ wn change_dns rubyista.info
      [Webbynode] Changing DNS to rubyista.info...
      Creating DNS entries for www.rubyista.info and rubyista.info...
      Your application will start responding to rubyista.info after next deployment.

.hint
  %b HINT:
  If you use a top-level domain name (ie, mydomain.com) the gem will automatically
  add the domain to Webby Manager's DNS Server, and you don't need to do any manual
  changes.

Here's another example, now with a subdomain:

%code
  %pre
    :preserve
      $ wn change_dns subdomain.rubyista.info
      [Webbynode] Changing DNS to subdomain.rubyista.info...
      Creating DNS entry for subdomain.rubyista.info...
      Your application will start responding to 
      subdomain.rubyista.info after next deployment.

After you run this command, the application will start responding to the new DNS entry
after your next push.

%h3 Wildcards

For applications that uses subdomains, a wildcard domain may be necessary. To use a wildcard 
DNS with Webbynode gem, just change the DNS using "*.yourdomain.com":

%code
  %pre
    :preserve
      $ wn change_dns \*.rubyista.com
      [Webbynode] Changing DNS to *.rubyista.com...
      Creating DNS entry for *.rubyista.com...
      Your application will start responding to 
      *.rubyista.com after next deployment.

Next time you push your app you will note the following output:

%code
  %pre
    :preserve
      $ wn push
      [Webbynode] Pushing r3app
      Counting objects: 146, done.
      Delta compression using up to 2 threads.
      Compressing objects: 100% (122/122), done.
      Writing objects: 100% (146/146), 94.78 KiB, done.
      Total 146 (delta 34), reused 0 (delta 0)
      remote: Checked out master branch
      remote: 
      remote: ----------------------------
      remote:   Webbynode git deployment 
      remote: ----------------------------
      remote: 
      remote: Apache webserver detected...
      remote: Deploying application r3app as *.rubyista.com...
      remote: 
      remote: Configuring addons...
      remote: 
      remote: Configuring Rails 3 application...
      remote:   => Configuring apache vHost...
      remote:      Setting up wildcard alias...
      (...)

After that, your application will start responding to anything that ends with the domain you 
specified, in this case <b>rubyista.com</b>.


