--- 
title: Handling DNS
---

%h2 Handling DNS

%p
  With the Webbynode RubyGem you can manipulate the way your application respond to certain domains. You
  can change the currently assigned dns entry or add aliases to the same app.

%p
  Please refer to the following subsections for additional information:

%ul
  %li
    = link "Changing domain", "dns_changing_domain" 
    teaches how you can change the domain your application responds to;
  %li
    = link "Wildcards",       "dns_wildcards"
    shows how you can configure your application to respond to any subdomain of a given domain;
  %li
    = link "Aliases",         "dns_aliases"
    shows how to make your app respond to more than one domain and/or subdomain;
  %li
    = link "Redirection",     "dns_redirection"
    has a brief example of how you can manually configure your webserver to do a redirect
    from one domain to the other;

