%h2 How Tos

%p
  A series of screencasts to walk you through the main features
  of the Webbynode deployment toolset.

%h3 Handling DNS

%p
  %h4 Changing domain

  %p
    Explains how to <a href="/dns_changing_domain/">change the domain</a> of
    an application.

  %p.center
    <iframe width="560" height="349" src="http://www.youtube.com/embed/bYBDr5Q-bLc" frameborder="0" allowfullscreen></iframe>

%p
  %h4 Adding aliases

  %p
    How to make your application respond to more than one domain or subdomain.

  %p.center
    <iframe width="560" height="349" src="http://www.youtube.com/embed/q9k8XpoE7tc" frameborder="0" allowfullscreen></iframe>

%p
  %h4 Wildcards

  %p
    How to setup your application to respond to multiple subdomains of a given domain 
    using domain wildcards.

  %p.center
    <iframe width="560" height="349" src="http://www.youtube.com/embed/ERyhkMprTfA" frameborder="0" allowfullscreen></iframe>

%h3 Database

%p
  %h4 Pushing and pulling

  %p
    How to synchronize the local and remote copies of your application database.

  %p.center
    <iframe width="560" height="349" src="http://www.youtube.com/embed/_6aKLUuKCmM" frameborder="0" allowfullscreen></iframe>


