--- 
title: Introduction to rapid deployment tools
---

%h2 Rapid deployment - Introduction

%p
  With our rapid application deployment toolset, you can deploy
  applications written in a wide range of languages and frameworks.

%p
  The only required knowledge for deployment is <b>git</b>. There's
  no need to have any system administration expertise.

%p
  There are a lot of tasks you can accomplish without leaving the 
  command line, just <a href="/RubyGem/">installing our RubyGem</a>.

%p
  You can deploy applications, control the way the application responds
  to DNS, set up nightly S3 backups for your applications, automate 
  common deployment tasks as deployment hooks, pull or push your
  local database, synchronizing it with your stage or production
  environment, among other things.

%p
  If you're getting started, read our end to end tutorial starting with the
  <a href="/preparation/">preparation section</a>. By following it, you'll 
  learn all the necessary steps, from setting up your Webby for deployment
  to deploying a full application.

%p
  For specific tasks, check the Advanced Topics menu on the left.
