--- 
title: Preparation
---

%h2 Preparation

%p
  Before being able to deploy an application, you have to prepare your Webby by 
  deploying the rapid application toolset stack. Note that this just have to be
  done once per Webby, and then you can install as many applications as you
  want.
  
.important
  %b IMPORTANT:
  If you are using Windows, there are a few prerequisites that you need to install 
  before the Webbynode gem. Check out the <a href="/windows">installing on windows</a>
  section more information and a screencast to walk you through.

%p
  First thing you have to do is log into Webby Manager using your credentials
  and click on your Webby's dashboard:

%p.center
  <img src="/images/manager/manager-index.png">
  
Select Redeploy from the lefthand menu:
  
%p.center
  <img src="/images/manager/manager-dashboard.png">

Select Rapid Deployment Engine and click Start
  
%p.center
  <img src="/images/manager/manager-redeploy.png">
  
%h3 Deployment options

%p
  Now you can select the deployment options:
  
%p.center
  <img src="/images/manager/manager-redeploy-selection.png">
  
And then configure them:
  
%p.center
  <img src="/images/manager/manager-redeploy-configuration.png">
  
Finally, you can review and start your deployment:

%p.center
  <img src="/images/manager/manager-redeploy-review.png">

Once you do that, the deployment screen will show the deployment progress.
When it finish, you'll be ready to start <a href="/bootstrapping/">bootstrapping an application</a>.
