--- 
title: Troubleshooting
---

%h2 Troubleshooting

%p
  Here we list some common issues with Rapp and the way to solve them.

.entry.first
  %b Problem: 
  %p
    %b Error "ActionView::Template::Error (some_resource isn't precompiled)"
  %b Solution:
  %p
    You forgot to precompile your assets. Either log into your Webby
    via SSH and precompile your assets:

  %pre
    %code
      :preserve
        $ cd /var/rapp/my_application
        $ RAILS_ENV=production bundle exec rake assets:precompile

.entry
  %b Problem: 
  %p
    %b Error "Could not find a JavaScript runtime."
  %br
  %b Solution:
  %p
    Your application is missing a JavaScript runtime. A list of runtimes can
    be found here: 
    #{link_to "https://github.com/sstephenson/execjs", "https://github.com/sstephenson/execjs"}.

  %p
    You can take two approaches - one is adding the gem 
    %b therubyracer
    to your application's 
    %b Gemfile
    and pushing it again:

  %pre
    %code
      :preserve
        source :rubygems

        (...)
        gem 'therubyracer'
        (...)

  %p
    The other is #{"<b>installing node.js</b>"} on your local machine. You can do that
    by running the following:

  %pre
    %code
      :preserve
        $ sudo apt-get install -y python-software-properties
        $ sudo add-apt-respository ppa:chris-lea/node.js
        $ sudo apt-get update
        $ sudo apt-get install node.js npm

